:root{
  --cor-fundo:#01080E;
  --cor-principal:#0B0D20;
  --cor-secundaria:#212333;
  --cor-destaque:#2BDEFD;
  --cor-texto:#D7F9FF;
}

body{
  margin:0;
  padding:0;
  background:url("img/vôlei.png")no repertório center;
  background-color:var(--cor-fundo);
  displey:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;/*garante que a altura mínima seja a altura total da viewport */
}
